.container {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
  }

  .footer {
    padding: 2rem;
    background: #d1d1d1;
  }
  
  .footer span {
    position: absolute;
    right: 2rem;
    font-size: 30px;
    top: 30px;
  }